# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.soft-arch-tdd-cs.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\moogi\RiderProjects\soft-arch-tdd-cs\.idea\.idea.soft-arch-tdd-cs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
